// MAIN
$body-bg: #fff;
$text-main: #3E3C3C;
$text-title: #272C4C;

// ACCENTS
$accent: #FFBA00;

// MAIN BUTTONS
$btn-bg: $accent;
$btn-bg-hover: #273170;

$btn-text: #273170;
$btn-text-hover: $accent;

// MISC
$shadow: rgba(69, 85, 185, 0.16);
$transition: all .2s ease;